.hero {
    display: flex;
    position: relative;
    width: 100px;
}

.hero__image {
    max-height: 100px;
    max-width: 100px;
    border-radius: 4px;
}

.hero__overlay {
    padding: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    align-content: center;
    height: 12px;
    border-radius: 2px 0 2px 0;
}